$light-pink: rgb(255, 202, 222);
$bright-pink: rgb(255, 90, 172);
$orangy-pink-darker: rgb(244, 64, 81);
$medium-pink-peach: rgb(251, 106, 124);
$light-pink-peach: rgb(246, 132, 122); 

$yellow: rgb(248, 214, 100);

$light-teal: rgb(161, 220, 200);
$medium-teal: rgb(11, 155, 138);
$dark-teal: rgb(20, 67, 81);

$brown: rgb(83, 25, 21);


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  animation: fadeIn 1s ease-in-out;
  background-image: url(https://img.freepik.com/free-photo/fantasy-water-representation_23-2151149378.jpg);
  background-repeat: none;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh
}



